.containerGeneral{
    width: 179vh;
    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}
    .menu{
        width: 100%;
        height: 10%;
        /* border: 2px solid black; */
        display: flex;
        background-color: black;
        justify-content: space-around;
        align-items: center;
    }
        .home, .galeria, .blog{
            width: 10%;
            height: 100%;
            font-family: Helvetica;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    .cuadroGaleriaFotos{
        width: 99.7%;
        height: 90%;
        /* border: 2px solid black; */
        background-color: black;
    }
        .foto1, .foto2, .foto3, .foto4, .foto5, .foto6{
            width: 32.8%;
            height: 49%;
            /* border: 2px solid black; */
        }